
{# templates/menu_form.html #}

{% extends "base.html" %}

{% block content %}
      <!-- MAIN -->
      <main>
        <div class="head-title">
          <div class="left">
            <h1>Add new menu</h1>
            
          </div>
        </div>

        
        <div class="table-data">
          <div class="order">
            <div class="head">
              <h3>New menu details</h3>
              <!-- <i class="bx bx-search"></i>
              <i class="bx bx-filter"></i> -->
            </div>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="notification is-danger">
                  {{ messages[0] }}.
                </div>
              {% endif %}
            {% endwith %}
            <form method="POST" action="/add_menu" enctype="multipart/form-data" >
            <table>
              <tbody>
                <tr>
                  <td>
                    <p>Menu name :</p>
                  </td>
                  <td><input type="text" id="menuname" name="menuname" required  title="Please enter only letters" placeholder="Enter menu name"></td>
                </tr>
                <tr>
                  <td>
                    <p>Price per quantity (RM):</p>
                  </td>
                  <td><input type="text" id="price" name="price" required pattern="[0-9]+([.][0-9]{1,2})?" title="Please enter a valid price" placeholder="Enter price per quantity"></td>
                </tr>
                <tr>
                  <td>
                    <p>Menu type :</p>
                  </td>
                  <td>
                    <select id="meny_type" name="menu_type">
                    <option value="Malay cuisine" required>Malay cuisine</option>
                    <option value="Chinese cuisine" required>Chinese cuisine</option>
                    <option value="Indian cuisine" required>Indian cuisine</option>
                    <option value="others">Others</option>
                  </select>
                  </td>
                </tr>
                <!-- <tr>
                  <td>
                    <p>Food Description :</p>
                  </td>
                  <td><input type="text" id="menu_desc" name="menu_desc"  required pattern="[A-Za-z ]+" title="Please enter only letters and spaces" placeholder="Enter food description"></td>
                </tr>-->
                <tr> 
                  <td>
                    <p>Food Description:</p>
                  </td>
                  <td>
                      <textarea id="menu_desc" name="menu_desc" required pattern="[A-Za-z ]+" title="Please enter only letters and spaces" placeholder="Enter food description"></textarea>
                  </td>
                </tr>
                <tr>
                    <td>
                      <p>Menu image :</p>
                    </td>
                    <td><input type="file" id="img" name="img" accept="image/*" required></td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td><button type="submit">Add</button></td>
                  </tr>
              </tbody>
            </table>
            </form>
          </div>
        </div>
      </main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->
  {% endblock content %}
